# Sistema de Consultas - Dependencias Python
# Municipalidad de Vicente López

# Framework principal
streamlit>=1.28.0

# Manipulación de datos
pandas>=2.0.0

# Conexión a base de datos
pyodbc>=4.0.34

# API requests
requests>=2.31.0

# Exportación a Excel
openpyxl>=3.1.0

# Variables de entorno
python-dotenv>=1.0.0

# Gráficos interactivos
plotly>=5.15.0

#Descarga de excel
pip install openpyxl>=25.1.1

# Utilidades adicionales (opcionales)
# streamlit-authenticator>=0.2.3  # Para autenticación avanzada si se necesita
# sqlalchemy>=2.0.0              # Para ORM si se migra de consultas directas
